*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
    font-weight: 400;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button {
  border-radius: 8px;
  border: 2px solid var(--color-brand-normal);
  background: var(--color-brand-normal);
  width: 204px;
  padding: 16px 24px;
  color: var(--color-primary-light);
  display: block;
}
.button:hover, .button:focus {
  background-color: transparent;
  color: var(--color-brand-dark);
}

.carusel-button {
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-primary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
}
.carusel-button:hover {
  fill: var(--color-primary-light);
  background-color: var(--color-primary-dark);
}
.carusel-button.next {
  transform: rotate(180deg);
}

.icon-button {
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  fill: var(--color-primary-light);
}
.icon-button svg {
  height: 24px;
}

.chef-card {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .chef-card {
    gap: 30px;
    padding-left: 100px;
    /*  flex-basis: calc((100% - 30px) / 2); */
  }
}
.chef-card__text {
  width: 162px;
}
@media screen and (min-width: 768px) {
  .chef-card__text {
    width: 334px;
  }
}
.chef-card__image {
  width: 140px;
  border-radius: 2px 2px 2px 116px;
  box-shadow: -8px 8px 0 0 var(--color-primary-light), -8px 8px 0 2px var(--color-border-color);
}
@media screen and (min-width: 768px) {
  .chef-card__image {
    width: 240px;
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-border-color);
  }
}

.format-card {
  width: 321px;
  height: 442px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px;
  justify-content: flex-end;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-dark));
}
@media screen and (min-width: 768px) {
  .format-card {
    width: 349px;
    height: 444px;
  }
}
.format-card__image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.3s;
}
.link:hover, .link.active {
  color: var(--color-brand-normal);
}

.flex-wrape {
  display: block;
}
@media screen and (min-width: 768px) {
  .flex-wrape {
    display: flex;
    gap: 32px;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 16px 24px;
  transform: translateX(100%);
  transition: transform 0.5s;
  background: var(--color-primary-light);
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu__button--close {
  position: absolute;
  top: 16px;
  right: 24px;
  fill: transparent;
  stroke: var(--color-primary-dark);
  z-index: 3;
}
.mobile-menu__button--close svg {
  height: 24px;
}
.mobile-menu__logo {
  margin-bottom: 32px;
}
.mobile-menu__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.mobile-menu__link {
  color: var(--color-primary-dark);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--color-brand-normal);
}
.mobile-menu__image {
  position: absolute;
  width: 180px;
  height: 240px;
  transform: rotate(-15deg);
  flex-shrink: 0;
  right: 20px;
  bottom: 20px;
}

.section-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 64px;
    line-height: 84px;
    margin-bottom: 42px;
  }
}

.title-accent {
  color: var(--color-brand-dark);
}

.chefs-section__title {
  position: relative;
}
.chefs-section__title::before, .chefs-section__title::after {
  content: "";
  position: absolute;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  bottom: 24px;
  display: none;
}
@media screen and (min-width: 768px) {
  .chefs-section__title::before, .chefs-section__title::after {
    display: block;
  }
}
.chefs-section__title::before {
  left: 0;
}
.chefs-section__title::after {
  right: 0;
}

.section-title-center {
  text-align: center;
}

.feedback-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.feedback-form__input {
  width: 100%;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  border-radius: 8px;
  border: 1px solid var(--color-border-color);
  background-color: inherit;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .feedback-form__input {
    padding: 16px 42px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
  }
}
.feedback-form__button {
  margin-bottom: 16px;
}
.feedback-form__agree {
  width: 240px;
  color: var(--color-primary-dark);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.feedback-form__agree > a {
  text-decoration: underline;
  color: var(--color-primary-dark);
}

.section {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .section {
    margin-bottom: 96px;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .pagination {
    display: none;
  }
}
.pagination__button {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  background-color: var(--color-border-color);
}
.pagination__button--active {
  background-color: #73835A;
}

.text-accent {
  color: var(--color-brand-normal);
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase;
}

.paragraph {
  margin-bottom: 16px;
}

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-secondary-dark: #a28268;
  --color-brand-dark: #465929;
  --color-brand-normal: #819b57;
  --color-brand-light: #cfcfbc;
  --color-border-color: #A18268;
  --bp-mobile:480px;
  --bp-tablet: 768px;
  --bp-desktop: 1280px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.flex-wrap {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .flex-wrap {
    gap: 32px;
    flex-direction: row;
  }
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 20px;
}

.format-section__title {
  color: var(--color-primary-light);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}
.format-section__text {
  color: var(--color-primary-light);
  font-size: 14px;
  font-weight: 300;
}
.format-section__button {
  display: none;
}
@media screen and (min-width: 768px) {
  .format-section__button {
    display: flex;
  }
}
.format-section__slider {
  display: flex;
  align-items: center;
  gap: 32px;
}
.format-section__list {
  margin-bottom: 16px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding-top: 16px;
}
@media screen {
  .header {
    padding-top: 32px;
  }
}
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}
.header__menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    justify-content: space-between;
    gap: 64px;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .header__open-menu {
    display: none;
  }
}

.footer-section {
  position: relative;
  background-color: var(--color-primary-dark);
  background-image: url("../images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 68px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 18px;
}
@media screen and (min-width: 768px) {
  .footer-section {
    flex-direction: row;
  }
}
.footer-section::before, .footer-section::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}
.footer-section::before {
  top: 40px;
  left: -4px;
  width: 92px;
  height: 196px;
  background-image: url(../images/bred-left.png);
}
@media screen and (min-width: 768px) {
  .footer-section::before {
    background-image: url(../images/bred-left-desc.png);
    left: 0;
    top: auto;
    right: auto;
    bottom: 0;
    width: 180px;
    height: 120px;
  }
}
.footer-section::after {
  width: 111px;
  height: 88px;
  right: -8px;
  bottom: 0;
  background-image: url(../images/bred-right.png);
}
@media screen and (min-width: 768px) {
  .footer-section::after {
    background-image: url(../images/bred-right-desc.png);
    right: 0;
    bottom: 0;
    top: auto;
    left: auto;
    width: 380px;
    height: 190px;
  }
}
@media screen and (min-width: 768px) {
  .footer-section {
    font-size: 16px;
  }
}
.footer-section__address {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 18px;
}
@media screen and (min-width: 768px) {
  .footer-section__address {
    align-items: flex-start;
  }
}
.footer-section__menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-section__menu {
    align-items: flex-start;
  }
}
.footer-section__navigation {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-section__navigation {
    flex-direction: row;
    gap: 166px;
    align-items: flex-start;
  }
}
.footer-section__policy {
  font-size: 12px;
  color: var(--color-border-color);
}
.footer-section__social {
  display: flex;
  gap: 22px;
}
.footer-section__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .footer-section__copyright {
    align-items: flex-start;
  }
}
.footer-section__copyright > p {
  margin-bottom: 0;
}

.joinus-section {
  margin-bottom: 0;
  position: relative;
  padding-bottom: 176px;
}
@media screen and (min-width: 768px) {
  .joinus-section {
    padding-bottom: 0;
  }
}
.joinus-section__form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.joinus-section__title {
  margin-bottom: 8px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .joinus-section__title {
    margin-bottom: 16px;
  }
}
.joinus-section__text {
  font-size: 14px;
  color: var(--color-brand-dark);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .joinus-section__text {
    margin-bottom: 42px;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }
}
.joinus-section__input {
  width: 100%;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  border-radius: 8px;
  border: 1px solid var(--color-border-color);
  background-color: inherit;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .joinus-section__input {
    padding: 16px 42px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
  }
}
.joinus-section__button {
  margin-bottom: 16px;
}
.joinus-section__agree {
  width: 240px;
  color: var(--color-primary-dark);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.joinus-section__map {
  width: 100%;
  height: 176px;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media screen and (min-width: 768px) {
  .joinus-section__map {
    width: 604px;
    height: 596px;
    border-radius: 16px;
    position: static;
  }
}
.joinus-section__leftblock {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .joinus-section__leftblock {
    width: 606px;
  }
}

.hero-section {
  padding: 122px 0 22px;
  background: linear-gradient(103deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .hero-section {
    margin-bottom: 0;
  }
}

.hero-title {
  margin-bottom: 48px;
  font-size: 67px;
  font-weight: 900;
  color: var(--color-primary-light);
  text-align: center;
  line-height: 66px;
}

.hero-title__first {
  color: var(--color-brand-normal);
}

.hero-button {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero-button {
    display: none;
  }
}

.hero-button > a {
  color: var(--color-primary-light);
  text-decoration: none;
}

.achivmentsbar-section {
  padding: 24px 40px;
  border-radius: 24px;
  background: var(--color-brand-light);
  font-size: 14px;
  color: var(--color-primary-dark);
}
@media screen and (min-width: 768px) {
  .achivmentsbar-section {
    font-size: 20px;
    padding: 16px;
    background-color: var(--color-brand-normal);
    color: var(--color-primary-light);
    border-radius: 0;
  }
}
@media screen and (min-width: 768px) {
  .achivmentsbar-section__list {
    display: flex;
    justify-content: space-between;
  }
}

.achivmentsbar-list__item {
  text-align: left;
}

.image-bakerman {
  display: none;
}
@media screen and (min-width: 768px) {
  .image-bakerman {
    display: block;
    width: 606px;
    height: 466px;
    border-radius: 50% 50% 0 0;
    background: lightgray 50% cover no-repeat;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__content {
  border-radius: 32px;
  width: 880px;
  height: 880px;
  background: var(--color-primary-light);
  padding: 128px;
  position: relative;
}
.modal__title {
  font-weight: 900;
  font-size: 62px;
  line-height: 131%;
  text-align: center;
  color: var(--color-primary-dark);
  margin-bottom: 8px;
}
.modal__form {
  padding: 9px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  margin-bottom: 24px;
}
.modal__policy {
  font-weight: 500;
  font-size: 12px;
  line-height: 146%;
  text-align: center;
  color: var(--color-primary-dark);
}
.modal__policy > a {
  text-decoration: underline;
  color: var(--color-primary-dark);
}
.modal__feedback {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--color-brand-dark);
  margin-bottom: 72px;
}/*# sourceMappingURL=main.css.map */