*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
@media screen and (min-width: var(--bp-tablet)) {
  body {
    font-size: 18px;
    font-weight: 400;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button {
  border-radius: 8px;
  border: 2px solid var(--color-brand-normal);
  background: var(--color-brand-normal);
  width: 204px;
  padding: 16px 24px;
  color: var(--color-primary-light);
  display: block;
}
.button:hover, .button:focus {
  background-color: transparent;
  color: var(--color-brand-dark);
}

.icon-button {
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  fill: var(--color-primary-light);
}
.icon-button svg {
  height: 24px;
}

.chef-card {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .chef-card {
    gap: 30px;
    /*  flex-basis: calc((100% - 30px) / 2); */
  }
}
.chef-card__image {
  width: 140px;
  border-radius: 2px 2px 2px 116px;
  box-shadow: -8px 8px 0 0 var(--color-primary-light), -8px 8px 0 2px var(--color-border-color);
}
@media screen and (min-width: 768px) {
  .chef-card__image {
    width: 240px;
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-border-color);
  }
}

.link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.3s;
}
.link:hover, .link.active {
  color: var(--color-brand-normal);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 16px 24px;
  transform: translateX(100%);
  transition: transform 0.5s;
  background: var(--color-primary-light);
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu__button--close {
  position: absolute;
  top: 16px;
  right: 24px;
  fill: transparent;
  stroke: var(--color-primary-dark);
  z-index: 3;
}
.mobile-menu__button--close svg {
  height: 24px;
}
.mobile-menu__logo {
  margin-bottom: 32px;
}
.mobile-menu__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.mobile-menu__link {
  color: var(--color-primary-dark);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--color-brand-normal);
}
.mobile-menu__image {
  position: absolute;
  width: 180px;
  height: 240px;
  transform: rotate(-15deg);
  flex-shrink: 0;
  right: 20px;
  bottom: 20px;
}

.section-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 64px;
    line-height: 84px;
    margin-bottom: 42px;
  }
}

.section-title-center {
  text-align: center;
}

.section {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .section {
    margin-bottom: 96px;
  }
}

.text-accent {
  color: var(--color-brand-normal);
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase;
}

.paragraph {
  margin-bottom: 16px;
}

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-secondary-dark: #a28268;
  --color-brand-dark: #465929;
  --color-brand-normal: #819b57;
  --color-brand-light: #cfcfbc;
  --color-border-color: #A18268;
  --bp-mobile:480px;
  --bp-tablet: 768px;
  --bp-desktop: 1280px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.flex-wrap {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .flex-wrap {
    gap: 32px;
    flex-direction: row;
  }
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding-top: 16px;
}
@media screen {
  .header {
    padding-top: 32px;
  }
}
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}
.header__menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    justify-content: space-between;
    gap: 64px;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .header__open-menu {
    display: none;
  }
}

.hero-section {
  padding: 122px 0 22px;
  background: linear-gradient(103deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url("../../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .hero-section {
    margin-bottom: 0;
  }
}

.hero-title {
  margin-bottom: 48px;
  font-size: 67px;
  font-weight: 900;
  color: var(--color-primary-light);
  text-align: center;
}

.hero-title__first {
  color: var(--color-brand-normal);
}

.hero-button {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero-button {
    display: none;
  }
}

.achivmentsbar-section {
  padding: 24px 40px;
  border-radius: 24px;
  background: var(--color-brand-light);
  font-size: 14px;
  color: var(--color-primary-dark);
}
@media screen and (min-width: 768px) {
  .achivmentsbar-section {
    font-size: 20px;
    padding: 16px;
    background-color: var(--color-brand-normal);
    color: var(--color-primary-light);
    border-radius: 0;
  }
}
@media screen and (min-width: 768px) {
  .achivmentsbar-section__list {
    display: flex;
    justify-content: space-between;
  }
}

.achivmentsbar-list__item {
  text-align: left;
}

.image-bakerman {
  display: none;
}
@media screen and (min-width: 768px) {
  .image-bakerman {
    display: block;
    width: 606px;
    height: 466px;
    border-radius: 50% 50% 0 0;
    background: lightgray 50% cover no-repeat;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */