.footer-section{
    position: relative;
    background-color: var(--color-primary-dark);
    background-image: url('../../images/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 68px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;    
    gap:18px;

    @media screen and (min-width:768px) {
        flex-direction: row;
    }

    &::before,
    &::after{
        content: "";
        position: absolute;
        background-repeat: no-repeat;
    }
    
    &::before{
        top:40px;
        left:-4px;
        width:92px;
        height: 196px;
        background-image: url(../../images/bred-left.png);
        @media screen and (min-width:768px) {
            background-image: url(../../images/bred-left-desc.png);
        left:0;
        top:auto;
        right: auto;
        bottom: 0;
        width: 180px;
        height: 120px;
        }
        
    }

    &::after{
        width: 111px;
        height: 88px;
        right: -8px;
        bottom: 0;
        background-image: url(../../images/bred-right.png);
        @media screen and (min-width:768px) {
            background-image: url(../../images/bred-right-desc.png);
        right: 0;
        bottom: 0;
        top:auto;
        left:auto;
        width: 380px;
        height: 190px;
        }
        
    }


    @media screen and (min-width:768px) {
        font-size: 16px;
    }

    &__address{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap:18px;
        @media screen and (min-width:768px) {
            align-items: flex-start;
        }
            
        
    }

    &__menu{
        display: flex;
        flex-direction: column;
        gap:16px;
        align-items: center;
        @media screen and (min-width:768px) {
            align-items: flex-start;
        }
    }

    &__navigation{
        display: flex;
        flex-direction: column;
        gap:32px;
        align-items: center;
        @media screen and (min-width:768px) {
            flex-direction: row;
            gap:166px;
            align-items: flex-start;
        }
    }

    &__policy{
        font-size: 12px;
        color: var(--color-border-color);
    }

    &__social{
        display: flex;
        gap:22px;
    }

    &__copyright{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:8px;
        @media screen and (min-width:768px) {
            align-items: flex-start;
        }
    }

    &__copyright > p{margin-bottom: 0;}
}
