.format-card{
    width: 349px;
    height: 444px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 24px;
    justify-content: flex-end;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(49, 38, 26, 0.00) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-dark));
&__image{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
}

