.section-title{
    font-size: 32px;
font-style: normal;
font-weight: 900;
line-height: normal;
margin-bottom: 24px;
@media screen and (min-width:768px) {
    font-size: 64px;
    line-height: 84px;
    margin-bottom: 42px;
}
}

.title-accent{
    color: var(--color-brand-dark);
}

.chefs-section__title{
    position: relative;
    &::before, &::after{
        content: '';
        position: absolute;
        width: 352px;
        border: 2px solid var(--color-brand-light);
        bottom: 24px;
        display: none;
        @media screen and (min-width:768px) {
            display: block;
        }
    }
    &::before{
    left: 0;
    } 
    &::after{
    right: 0;
    }
}   


.section-title-center{
    text-align: center;
}
